name: Web Docker build & push
on:
  push:
  release:
    types: [published]
jobs:
  build:
    env:
      REGISTRY: ghcr.io
      IMAGENAME: ${{ github.event.repository.name }}
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    strategy:
      matrix:
        build_mode: [release, debug]

    steps:
    - uses: actions/checkout@v2
      name: Check out code
    - name: Docker build (${{ matrix.build_mode }})
      uses: mr-smithers-excellent/docker-build-push@v6.8
      id: build
      with:
        image: ${{ env.IMAGENAME }}
        tags: ${{ matrix.build_mode }}
        appendMode: true
        addTimestamp: true
        registry: ${{ env.REGISTRY }}
        username: ${{ github.repository_owner }}
        password: ${{ secrets.GITHUB_TOKEN }}
        buildArgs: BUILD_MODE=${{ matrix.build_mode }}